/document.toc
/document.synctex.gz
/document.acn
/document.acr
/document.alg
/document.aux
/document.glg
/document.glo
/document.gls
/document.ist
/document.log
/document.out
/document.pdf
/document.sbl
/document.slg
/document.sym
